body {
display: block;
margin: auto;
    
}
* {
    box-sizing: border-box;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.row {
    display: flex;
}


.column {
    flex: 50%;
    padding: 30px;
   
}
img{
   width: 100%;
   height: auto; 
}

h1, h2, h3, h4{
    font-family: 'Oswald', sans-serif;
}

p, figcaption{
    color: #414143;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

/*padding around the entire site*/
.padding{
    padding-left: 20px;
    padding-right: 15px;
}

/*Links*/
a { 
    color: inherit;
    text-decoration: none;
}

/* unvisited link */
a.bluelink:link {
    color: #08A7DD;
}

/* visited link */
a.bluelink:visited {
    color: #08A7DD;
}

/* mouse over link */
a.bluelink:hover {
    color: #414143;
}

ul{ 
    padding-left: 0px;
    list-style-type: none;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

li { padding-top: 10px; }

.bullets {
    list-style-type: disc;
    padding-left: 18px;
}

#largetext{
    font-size: 1.2em;
}